[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
pydantic = "*"
openai = "*"
requests = "*"
gunicorn = "*"
django-cors-headers = "*"
mypy = "*"
django-stubs = "*"

[dev-packages]

[requires]
python_version = "3.12"
